<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h2 style="text-align: center"> Flight Form</h2>
<form method="post" enctype="multipart/form-data" th:action="${actionURL}" th:object="${flightDTO}">
    <div class="form-group">-->
        <label>Số hiệu chuyến bay</label>
        <input type="text" th:field="*{flightNumber}"
            class="form-control" name="" id="" placeholder="Nhập số hiệu chuyến bay (VD: VJ-123)">
        <p style="color: red" th:errors="*{flightNumber}"></p>
    </div>
    <div class="form-group">-->
        <label>Điểm đến</label>
        <input type="text" th:field="*{destination}"
               class="form-control" name="" id="" placeholder="Nhập điểm đến...">
        <p style="color: red" th:errors="*{destination}"></p>
    </div>
    <div class="form-group">-->
        <label>Giá vé</label>
        <input type="number" th:field="*{ticketPrice}"
               class="form-control" name="" id="" placeholder="Nhập giá vé">
        <p style="color: red" th:errors="*{ticketPrice}"></p>
    </div>
    <div class="form-group">-->
        <label>Ảnh</label>
        <div th:if="${currentImage}">
            <img th:src="@{'/images/' + ${currentImage}}" width="100"/>
        </div>
        <input type="file" th:field="*{image}" class="form-control" name="" id="">
        <p class="error" th:errors="*{image}"></p>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Lưu</button>
    </div>
</form>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>